.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f2e0c9; /* Кремовый фон */
  color: #fff;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header h1 {
  margin-left: 80px;
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  cursor: pointer;
  color: #c94c4c; /* Мягкий красный */
}

.dark-mode .header {
  background-color: #1e1e1e;
}

.dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  transition: transform 0.3s ease-in-out;
  margin-right: 60px;
}

.dark-mode-toggle:hover {
  transform: scale(1.1);
}

.icon {
  transition: color 0.3s ease-in-out;
}

.icon.moon {
  color: #1e3a5f;
}

.icon.sun {
  color: #ffd700;
}


.search-bar {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  padding: 5px 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-icon {
  color: #888;
  font-size: 16px;
  margin-right: 8px;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  font-size: 14px;
}

.dark-mode .search-bar {
  background: #333;
  color: #fff;
}

.dark-mode .search-bar input {
  background: #333;
  color: #fff;
}