.service-details-page {
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 70px;
  font-family: 'Vollkorn', serif;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.dark-mode .service-details-page {
  background-color: #121212;
  color: #ffffff;
}

.details-header {
  display: flex;
  align-items: center;
  background: linear-gradient(to top, #dfe5dc 0%, #e7e0d8 100%);
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.dark-mode .details-header {
  background-color: #2a2a2a;
}

.details-header h1 {
  color: #c94c4c;
  margin: 0 auto;
}

.back-btn {
  background-color: #a8d5ba;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #8ec3a4;
}

.images-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.main-image {
  width: 60%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.small-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}

.small-image {
  width: 100%;
  height: calc(350px / 3 - 10px);
  object-fit: cover;
  border-radius: 8px;
}


.details-info-card {
  background-color: #f0edeb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.dark-mode .details-info-card {
  background-color: #1e1e1e;
  color: #ffffff;
}



/* Адаптивность */
@media (max-width: 768px) {
  .images-container {
      flex-direction: column;
  }

  .main-image {
      width: 100%;
      height: 300px;
  }

  .small-images {
      width: 100%;
      flex-direction: row;
      gap: 5px;
  }

  .small-image {
      height: 100px;
      flex: 1;
  }
}

.details-text {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.dark-mode .details-text {
  color: #ccc;
}

header {
  position: relative;
  z-index: 1000;
}