.app-container {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  min-height: 100vh;
  padding-top: 60px;
}

.main-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1600px;
  margin: 20px;
  gap: 20px;
  margin-top: 100px;
}

.filter-section {
  flex: 0 0 300px;
  min-width: 250px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.filter-section label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.services-list-container {
  flex: 1 1 auto;
}

.services-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .filter-section {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode .filter-section h3,
.dark-mode .filter-section label {
  color: #ffffff;
}

.dark-mode .service-card {
  background-color: #2a2a2a;
  color: #ffffff;
}

/* Оверлей, затемняющий фон */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Затемнение */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.3s ease forwards;
}

/* Анимация для оверлея */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.card-zoom {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
  animation: zoomIn 0.3s ease forwards;
  transform: scale(0.8);
  position: relative;
  font-family: 'Vollkorn', serif;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}


.dark-mode .card-zoom {
  background: #2a2a2a;
  color: #fff;
  font-family: 'Vollkorn', serif;
}
