.app-container {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

.main-content {
  display: flex;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .header {
  background-color: #1e1e1e;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .filter-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .services-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.dark-mode .service-card h3,
.dark-mode .service-card p {
  color: #000000;
}

.dark-mode .filter-section {
  color: #000000;
}

.dark-mode .filter-section label {
  color: #000000;
}